.section {
    width: 100%;
    padding: 5rem 0;
    background-color: var(--background);
}

.dark {
    background-color: var(--secondary-bg);
}

.container {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 2rem;
}

@media (max-width: 768px) {
    .section {
        padding: 3rem 0;
    }
}